{% extends "base.html" %}
{% block content %}
<body>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="static/profile_pic.jpg" class="img-rounded">
            </div>
        </div>
    </div>

    <div>
        <p>
            My name is <b>Zhengxi Tan</b> and people usually just call me <b>Tan</b>.
            I am currently a junior majoring in Computer Science at University of Michigan - Ann Arbor.
            I was born in Ya'an but I spent most of life growing up in Chengdu, an incredibly beatiful
            city in Southwest China. Sports is an important part of my life. I play and watch many Sports
            and have been following NBA for over 10 years.
        </p>
    </div>

    <div>
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=100007717605655" title="facebook" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/" title="twitter" target="_blank">Twitter</a></li>
            <li><a href="https://github.com/zhengxit" title="github" target="_blank">Github</a></li>
            <li><a href="https://www.linkedin.com/in/zhengxi-tan-66809a110/" title="linkedin" target="_blank">Linkedin</a></li>
        </ul>
    </div>

    <div>
        <p>Message me!</p>
    </div>
</body>

{% endblock %}
